{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> <!--9. jquery 스크립트 -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel='stylesheet' href="{% static 'dist/css/chat.css' %}">
	</head>

	<body>
		<div class="chat_window">
			<div class="top_menu">
				<div class="title">Chat Title</div>
			</div>
			<ul class="messages"></ul>
			<div class="bottom_wrapper clearfix">
				<div class="message_input_wrapper">
					<input class="message_input" placeholder="Type your message here..." />
				</div>
				<div class="send_message">
					<div class="icon"></div>
					<div class="text">Send</div>
				</div>
			</div>
		</div>
		<div class="message_template">
			<li class="message">
				<div class="avatar"></div>
				<div class="text_wrapper">
					<div class="text"></div>
				</div>
				<div class="time"></div>
			</li>
		</div>

		<script src="{% static 'dist/js/main.js' %}"></script>
		<script src="{% static 'dist/js/reconnecting-websocket.js' %}"></script>
		<script>
			var roomName = {{ room_name_json }};
			var username = {{ username}};

			var chatSocket = new ReconnectingWebSocket(
				'ws://' + window.location.host +
				'/ws/chat/' + roomName + '/');

			chatSocket.onopen = function(e) {
				// chatSocket.send(JSON.stringify({
				// 	'command' : 'new_message',
				// 	'message' : username + '님이 들어오셨습니다.',
				// 	'from' : 'admin',
				// 	'roomName' : roomName
				// }));

				fetchMessages();
			}

			chatSocket.onmessage = function (e) {
				var data = JSON.parse(e.data);
				if (data['command'] === 'messages') {
					for (let i = 0; i < data['messages'].length; i++) {
						createMessage(data['messages'][i]);
					}
				} else if (data['command'] === 'new_message') {
					createMessage(data['message']);
				}
			};

			chatSocket.onclose = function (e) {
				console.error('Chat socket closed unexpectedly');
			};

			document.querySelector('.message_input').onkeyup = function (e) {
				if (e.keyCode ===13 ) { // enter, return
					document.querySelector('.send_message').click();
				}
			};

			document.querySelector('.send_message').onclick = function (e) {
				var messageInputDom = document.querySelector('.message_input');
				var message = messageInputDom.value;
				chatSocket.send(JSON.stringify({
					'command' : 'new_message',
					'message' : message,
					'from' : username,
					'roomName' : roomName
				}));

				messageInputDom.value = '';
			}

			function fetchMessages() {
				chatSocket.send(JSON.stringify({
					'command' : 'fetch_messages',
					'roomName' : roomName
				}));
			}

			//javascript
			var send_messages;

			//jquery
			 $(function() {
			 	var Message;
					Message = function (arg) {
						this.text = arg.text, this.message_side = arg.message_side, this.message_name = arg.message_name, this.time = arg.time;
						this.draw = function (_this) {
							return function () {
								var $message;
								$message = $($('.message_template').clone().html());
								$message.addClass(_this.message_side).find('.text').html(_this.text);
								$message.addClass(_this.message_side).find('.time').html(_this.time);
								if(_this.message_side != 'center' && _this.message_side != 'right') $message.find('.avatar').html(_this.message_name);
								$('.messages').append($message);
								return setTimeout(function () {
									return $message.addClass('appeared');
								}, 0);
							};
						}(this);
						return this;
					};

					send_messages = function (text, rnf, name, time) {
						var $messages, message;
						$messages = $('.messages');
						message = new Message({
							text: text,
							message_side: rnf,
							message_name : name,
							time : time
						});
						message.draw();
						return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 100);
					};
			 })

			 //just js
			function createMessage(data) {
				if (data.content != '') {
					var author = data['author'];
					var rnf;
					if (author === username) {
						rnf = 'right';
					} else if (author == 'admin'){
						rnf = 'center';
					} else {
						rnf = 'left';
					}
					time = '<br>' + data.timestamp.replace(/-/gi, '/').substr(0,19);
					// time = data.timestamp.replace(/-/gi, '/').substr(0,19);
					// time = Math.round((new Date().getTime() - new Date(time).getTime())/60000);
					// if (time / 1440 >= 1) time = parseInt(time/1440) + ' 일 ' + parseInt((time%1440)/60) + ' 시간 ' + time%60 + ' 분 전';
					// else if((time%1440)/60 >=1) time = parseInt(time/60) + ' 시간 ' + time%60 + ' 분 전';
					// else if (time%60 != 0) time = time%60 + ' 분 전';
					// else time = '방금전';
					send_messages(data.content, rnf, data.author, time);
				}
			}

		</script>

	</body>
</html>