{% extends "main/base.html" %}
{% block content %}
<div class="container-fluid">
     <div id="main-wrapper">
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-body">

                                <h5 class="card-title m-b-0">팀 파일 공유 </h5>
                            </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th></th>
                                                <th scope="col">번호</th>
                                                <th scope="col">팀 이름</th>
                                                <th scope="col">프로젝트명</th>


                                            </tr>
                                        </thead>
                                        {% for team in team_list %}
                                        <tbody class="customtable">
                                        <tr>
                                            <th><a href="{% url 'boxteam_detail' pk=team.pk %}" class="btn btn-primary"> 팀 파일 공유하기</a></th>
                                                <td>{{ team.pk }}</td>
                                                <td>{{ team.team_name }}</td>
                                                <td>{{ team.text }}</td>

                                        </tr>
                                        {% endfor %}
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
