{% extends "main/base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h5>팀 파일 공유</h5>
                  <div class="comment-widgets scrollable">
                      <div class="d-flex flex-row comment-row m-t-0">
                          <div class="comment-text w-100">
                              <div class="comment-footer">
                                 <p> 팀 번호: {{ team.num }}</p>
                                 <p> 팀명: {{ team.team_name }}</p>
                                 <p> 프로젝트 이름: {{ team.project_name }}</p>
                                 <p> 프로젝트 설명: {{ team.text }}</p>
                                 {% if not user.is_anonymous %}
                                 <p> 업로드 계정 : {{ user.username }} </p>
                                 {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">

                  {% load static %}


                      <form role="form" method="post" action="{% url 'addreq_project' user.username team.num team.team_name %}" enctype="multipart/form-data" data-parsley-validate>

                       {% csrf_token %}

                      <div class="row">
                               <div class="col-sm-12 col-xs-12">
                                  <h4 class="header-title m-t-0">파일 업로드 <button style="float:right;" class="btn btn-dark btn-sm waves-effect waves-light" type="submit">
                               파일 업로드
                               </button> </h4>

                                  <div class="p-20">
                                     <div class="form-group clearfix">
                                        <div class="col-sm-12 padding-left-0 padding-right-0">
                                           <input type="file" name="files[]" id="filer_input1" parsley-trigger="change" required="required" data-parsley-required-message="Minimum one file required" multiple="multiple">
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>


                     </form>

          </div>
         </div>
      </div>



                                   <div class="col-md-12">
                                     <div class="card">
                                       <div class="card-body">
                                        <h4 class="card-title m-b-0">공유된 파일</h4>
                                       </div>
                                  <div class="comment-widgets scrollable">
                                          {% for file_item in all_file_items %}
                                     <div class="d-flex flex-row comment-row">
                                         <div class="p-2"><img src="/static/assets/images/big/auth-bg.jpg" alt="user" width="50" class="rounded-circle"></div>
                                         <div class="comment-text w-100">

                                             <h6 class="font-medium">{{ file_item.file_name }} · <span class="badge badge-dark">{{ file_item.file_size }} </span></h6>


                                             <div class="comment-footer">

                                                 <span class="text-muted float-right"> {{ file_item.team_title }} · {{file_item.uploaded_date}} </span>
                                                 <br>
                                                 <a href="/main{{file_item.document}}" target="_blank" class="btn btn-cyan btn-sm">문서 보기</a>
                                                 <a href="/main{{file_item.document}}" download style="color:white;" class="btn btn-success btn-sm">다운로드</a>


                                             </div>
                                         </div>
                                     </div>

                                       {% endfor %}

      </div>

</div>
<footer class="footer text-center" style="margin-top:500px;">
    Copyright &copy 2019. Developed by <a href="http://www.sejong.ac.kr">Sejong University</a>.
</footer>

{% endblock %}
