{% extends "main/base.html" %}
{% block content %}
<div class="container-fluid" >
    <div class="row">

        <div class="col-md-12">
                     <div class="card">
                         <div class="card-body">
                             <h5 class="card-title m-b-0"><a href="/main/professors/subjects/" class="btn btn-dark btn"><i class="mdi mdi-anchor"></i>&nbsp;담당과목</a></h5>
                         </div>
                         <table class="table">
                             <thead>
                                 <tr>
                                     <th scope="col">강의과목</th>
                                     <th scope="col">분반</th>
                                     <th scope="col">활동</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>운영체제</td>
                                     <td>02</td>
                                     <td style="width:40%;">
                                       <a href="" class="btn btn-outline-primary">공지 올리기</a>
                                       <a href="" class="btn btn-outline-primary">과제 올리기</a>

                                     </td>
                                 </tr>
                                 <tr>
                                     <td>운영체제</td>
                                     <td>03</td>
                                     <td style="width:40%;">
                                         <a href="" class="btn btn-outline-primary">공지 올리기</a>
                                          <a href="" class="btn btn-outline-primary">과제 올리기</a>

                                        </td>
                                 </tr>
                                 <tr>
                                     <td>운영체제</td>
                                     <td>04</td>
                                      <td style="width:40%;">
                                         <a href="" class="btn btn-outline-primary">공지 올리기</a>
                                          <a href="" class="btn btn-outline-primary">과제 올리기</a>
                                          
                                        </td>
                                 </tr>

                           </tbody>
                         </table>
                     </div>
                 </div>
                 <div class="col-md-4">
                 <a href="/main/professors/" class="btn btn-dark btn">홈으로</a>
                 </div>

    </div>     <!-- row end -->

    </div><!-- container end -->

<footer class="footer text-center">
            Copyright &copy 2019. Developed by <a href="http://www.sejong.ac.kr">Sejong University</a>.
  </footer>
{% endblock %}
