{% load staticfiles %}
<!DOCTYPE html>
<html lang="kr">
    <head>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
        <title>Matrix Template - The Ultimate Multipurpose admin template</title>
        <link href="/static/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
        <link href="/static/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
        <link href="/static/dist/css/style.min.css" rel="stylesheet">

        <!-- Signup UI -->
        <link rel="stylesheet" type="text/css" href="/static/assets/libs/select2/dist/css/select2.min.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/libs/jquery-minicolors/jquery.minicolors.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/libs/quill/dist/quill.snow.css">
        <link href="/static/dist/css/style.min.css" rel="stylesheet">

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
        <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
        <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
        <script src="/static/firepad-userlist.js"></script>
        <link rel="stylesheet" href="/static/firepad-userlist.css" />

        <!-- box start -->
   
        <link href="{% static 'assets_box/plugins/jquery.filer/css/jquery.filer.css' %}" rel="stylesheet" />
         <link href="{% static 'assets_box/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css' %}" rel="stylesheet" />
           <style>
         .bd-placeholder-img {
           font-size: 1.125rem;
           text-anchor: middle;
           -webkit-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           user-select: none;
         }

         @media (min-width: 768px) {
           .bd-placeholder-img-lg {
             font-size: 3.5rem;
           }
         }
       </style>
        <!-- box end  -->

        <style>
           html { height: 100%; }
           body { margin: 0; height: 100%; }
           /* Height / width / positioning can be customized for your use case.
              For demo purposes, we make the user list 175px and firepad fill the rest of the page. */
           #userlist {
             position: absolute; left: 0; top: 0; bottom: 0; height: auto;
             width: 175px;
           }
           #firepad {
              position: absolute; height: 100%;
           }

          .left-box {

           float: left;
            width: 50%;
           }
          .right-box {

            float: right;
            width: 50%;
          }
         </style>
    </head>

    <body onload="init()">
     <div id="main-wrapper">

         <header class="topbar" data-navbarbg="skin5"> <!--상단 바-->
             <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                 <div class="navbar-header" data-logobg="skin5">
                     <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                     {% if user.is_authenticated %}
                     <a class="navbar-brand" href="{% url 'mypage' %}"></a>
                     {% else %}
                     <a class="navbar-brand" href="{% url 'login' %}"></a>
                     {% endif %}
                     <b class="logo-icon p-l-10"><img src="/static/assets/images/logo-icon.png" alt="homepage" class="light-logo"/></b>
                     <span class="logo-text"><img src="/static/assets/images/logo-text.png" alt="homepage" class="light-logo"/></span>
                     <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                 </div>

                 <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                     <ul class="navbar-nav float-left mr-auto">
                         <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                     </ul>
                     <ul class="navbar-nav float-right">
                         <li class="nav-item dropdown"> <!--회원정보 -->
                             <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                             <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                 {% if user.is_authenticated %}
                                 <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>&nbsp;{{ user.username }}</a>
                                 <div class="dropdown-divider"></div>
                                 <a class="dropdown-item" href="{% url 'mypage' %}" ><i class="m-r-10 mdi mdi-account-card-details"></i>&nbsp;마이페이지</a>
                                 <div class="dropdown-divider"></div>
                                 <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off m-r-5 m-l-5"></i>&nbsp;Logout</a>
                                 {% endif %}
                             </div>
                         </li>
                     </ul>
                 </div>
             </nav>
         </header>
<!--
         <aside class="left-sidebar" data-sidebarbg="skin5">
             <div class="scroll-sidebar">
                 <nav class="sidebar-nav">
                     <ul id="sidebarnav" class="p-t-30">
                         <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'notice' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">공지사항</span></a></li>
                         {% if not user.is_anonymous %}
                         {% for subject in subjects %}
                         {%  if subject.user_num == user.pk %}
                         <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'board' subject_num=subject.subject_num.num  %}" aria-expanded="false"><i class="mdi mdi-auto-upload"></i><span class="hide-menu">{{subject.subject_num.subject_name}}</span></a></li>
                         {% endif %}
                         {% endfor %}
                         {% endif %}
                     </ul>
                 </nav>
             </div>
         </aside>
        -->
         <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'notice' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">공지사항</span></a></li>
                         {% if not user.is_anonymous %}
                         {% for subject in subjects %}
                         {%  if subject.user_num == user.pk %}
                         <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'board' subject_num=subject.subject_num.num  %}" aria-expanded="false"><i class="mdi mdi-auto-upload"></i><span class="hide-menu">{{subject.subject_num.subject_name}}</span></a></li>
                         {% endif %}
                         {% endfor %}
                         {% endif %}
                    </ul>
                </nav>
            </div>
        </aside>

         <div class="page-wrapper">
          {% block content %}
          {% endblock %}
         <footer class="footer text-center">All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.</footer>
         </div>

        <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="/static/dist/js/jquery.ui.touch-punch-improved.js"></script>
        <script src="/static/dist/js/jquery-ui.min.js"></script>
        <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
        <script src="/static/dist/js/waves.js"></script>
        <script src="/static/dist/js/sidebarmenu.js"></script>
        <script src="/static/dist/js/custom.min.js"></script>
        <script src="/static/assets/libs/moment/min/moment.min.js"></script>
        <script src="/static/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="/static/dist/js/pages/calendar/cal-init.js"></script>

         <!-- box start -->
         <script src="/static/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
         <script src="/static/dist/js/pages/mask/mask.init.js"></script>
         <script src="/static/assets/libs/select2/dist/js/select2.full.min.js"></script>
         <script src="/static/assets/libs/select2/dist/js/select2.min.js"></script>
         <script src="/static/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
         <script src="/static/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
         <script src="/static/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
         <script src="/static/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
         <script src="/static/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
         <script src="/static/assets/libs/quill/dist/quill.min.js"></script>
         <script>
          var resizefunc = [];
          </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'assets_box/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets_box/js/tether.min.js' %}"></script>
        <script src="{% static 'assets_box/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets_box/js/detect.js' %}"></script>
        <script src="{% static 'assets_box/js/fastclick.js' %}"></script>
        <script src="{% static 'assets_box/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'assets_box/js/waves.js' %}"></script>
        <script src="{% static 'assets_box/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets_box/plugins/jquery.filer/js/jquery.filer.min.js' %}"></script>
        <script src="{% static 'assets_box/plugins/parsleyjs/parsley.min.js' %}"></script>
        <script src="{% static 'assets_box/js/jquery.app.js' %}"></script>
        <script src="{% static 'assets_box/pages/jquery.fileuploads.init.js' %}"></script>


      </div>
    </body>
</html>