{% load staticfiles %}
<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
        <title>Matrix Template - The Ultimate Multipurpose admin template</title>
        <link href="/static/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
        <link href="/static/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
        <link href="/static/dist/css/style.min.css" rel="stylesheet">

        <!-- Signup UI -->
        <link rel="stylesheet" type="text/css" href="/static/assets/libs/select2/dist/css/select2.min.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/libs/jquery-minicolors/jquery.minicolors.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/libs/quill/dist/quill.snow.css">
        <link href="/static/dist/css/style.min.css" rel="stylesheet">


        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />
        <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
        <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
        <script src="/static/firepad-userlist.js"></script>
        <link rel="stylesheet" href="/static/firepad-userlist.css" />

        <style>
           html { height: 100%; }
           body { margin: 0; height: 100%; }
           /* Height / width / positioning can be customized for your use case.
              For demo purposes, we make the user list 175px and firepad fill the rest of the page. */
           #userlist {
             position: absolute; left: 0; top: 0; bottom: 0; height: auto;
             width: 175px;
           }
           #firepad {
              position: absolute; width: 100%; height: 100%; top : 400px;
           }



         </style>
    </head>

    <body onload="init()">
            <div class="preloader">
                    <div class="lds-ripple">
                        <div class="lds-pos"></div>
                        <div class="lds-pos"></div>
                    </div>
            </div>
                <div id="main-wrapper">
                    <header class="topbar" data-navbarbg="skin5">
                        <nav class="navbar top-navbar navbar-expand-md navbar-dark">

                            <div class="navbar-header" data-logobg="skin5">
                                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                                      {% if user.is_authenticated %}
                                     <a class="navbar-brand" href="{% url 'mypage' %}">
                                     {% else %}
                                      <a class="navbar-brand" href="{% url 'login' %}">
                                     {% endif %}
                                    <b class="logo-icon p-l-10">
                                        <img src="/static/assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                                    </b>
                                    <span class="logo-text">
                                        <img src="/static/assets/images/logo-text.png" alt="homepage" class="light-logo" />
                                    </span>
                                </a>
                                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                            </div>

                            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                                <ul class="navbar-nav float-left mr-auto">
                                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                                </ul>
                                <ul class="navbar-nav float-right">

                                    <li class="nav-item dropdown"> <!-- 종 -->

                                    </li>
                                    <li class="nav-item dropdown"> <!-- 메세지 -->
                                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="font-24 mdi mdi-comment-processing"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                                            <ul class="list-style-none">
                                                <li>
                                                    <div class="">
                                                        <!-- Message -->
                                                        <a href="javascript:void(0)" class="link border-top">
                                                            <div class="d-flex no-block align-items-center p-10">
                                                                <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                                                                <div class="m-l-10">
                                                                    <h5 class="m-b-0">Event today</h5>
                                                                    <span class="mail-desc">Just a reminder that event</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- Message -->
                                                        <a href="javascript:void(0)" class="link border-top">
                                                            <div class="d-flex no-block align-items-center p-10">
                                                                <span class="btn btn-info btn-circle"><i class="ti-settings"></i></span>
                                                                <div class="m-l-10">
                                                                    <h5 class="m-b-0">Settings</h5>
                                                                    <span class="mail-desc">You can customize this template</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- Message -->
                                                        <a href="javascript:void(0)" class="link border-top">
                                                            <div class="d-flex no-block align-items-center p-10">
                                                                <span class="btn btn-primary btn-circle"><i class="ti-user"></i></span>
                                                                <div class="m-l-10">
                                                                    <h5 class="m-b-0">Pavan kumar</h5>
                                                                    <span class="mail-desc">Just see the my admin!</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- Message -->
                                                        <a href="javascript:void(0)" class="link border-top">
                                                            <div class="d-flex no-block align-items-center p-10">
                                                                <span class="btn btn-danger btn-circle"><i class="fa fa-link"></i></span>
                                                                <div class="m-l-10">
                                                                    <h5 class="m-b-0">Luanch Admin</h5>
                                                                    <span class="mail-desc">Just see the my new admin!</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown"> <!--회원정보 -->
                                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'Login' %}"><i class="fa fa-power-off m-r-5 m-l-5"></i> Login</a>
                                            <div class="dropdown-divider"></div>
                                            <div class="p-l-30 p-10"><a href="{% url 'Signup' %}" class="btn btn-sm btn-success btn-rounded">회원가입</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </header>
                    <aside class="left-sidebar" data-sidebarbg="skin5">
                        <!-- Sidebar scroll-->
                        <div class="scroll-sidebar">
                            <!-- Sidebar navigation-->
                            <nav class="sidebar-nav">
                                <ul id="sidebarnav" class="p-t-30">                                                        <!-- url의 'name' 값을 넣어준다. -->
                                    {% if user.is_authenticated %}
                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'mypage' %}" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">마이페이지</span></a></li>
                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/main/box/{{ user.username }}" aria-expanded="false"><i class="mdi mdi-auto-upload"></i><span class="hide-menu">파일공유</span></a></li>
                                    {% endif %}
                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'notice' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">공지사항</span></a></li>
                                </ul>
                            </nav>
                            <!-- End Sidebar navigation -->
                        </div>
                        <!-- End Sidebar scroll-->
                    </aside>
                    <div class="page-wrapper">
                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-12 d-flex no-block align-items-center">
                                    <div class="ml-auto text-right">
                                        <nav aria-label="breadcrumb">

                                            <!--
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                                            </ol>
                                            -->

                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

    {% block content %}
    {% endblock %}

        <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="/static/dist/js/jquery.ui.touch-punch-improved.js"></script>
        <script src="/static/dist/js/jquery-ui.min.js"></script>
        <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
        <script src="/static/dist/js/waves.js"></script>
        <script src="/static/dist/js/sidebarmenu.js"></script>
        <script src="/static/dist/js/custom.min.js"></script>
        <script src="/static/assets/libs/moment/min/moment.min.js"></script>
        <script src="/static/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="/static/dist/js/pages/calendar/cal-init.js"></script>
    </body>
</html>
