{% extends "main/base.html" %}
{% block content %}

<div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'team_new' subject_pk=subject_num %}" class="btn btn-primary">새 그룹 만들기</a>
                        <div class="card" style="margin-top:40px;">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">데이터베이스 팀 프로젝트 게시판 </h5>
                            </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th></th>
                                                <th scope="col">번호</th>
                                                <th scope="col">팀 이름</th>
                                                <th scope="col">프로젝트명</th>
                                                <th scope="col">프로젝트 개요</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        {% for team in team_list %}
                                        {% if team.subject_num == subject_num %}
                                        <tbody class="customtable">
                                        <tr>
                                            <th><p><a href="{% url 'team_detail' subject_pk=subject_num team_pk=team.pk hash=team.hash %}" class="btn btn-primary">팀 게시판</a></th>
                                                <td>{{ team.pk }}</td>
                                                <td>{{ team.team_name }}</td>
                                                <td>{{ team.text }}</td>
                                            <td><p><a href="{% url 'team_join' subject_pk=subject_num user_pk=user.pk team_pk=team.pk hash=team.hash %}" class="btn btn-primary"> 팀 등록</a></p></td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



{% endblock %}
