{% extends "main/base.html" %}
{% block content %}
 <p><h5><a href="{% url 'subject_assign' %}">{{ user.username }}님에게 과목 할당하기</a>/&nbsp;<a href="{% url 'subject_list' user_pk=user.pk %}">{{ user.username }}님의 과목리스트</a></h5></p>

<div class="left-box">
 <div class="card">
     <div class="card-body">
         <h4 class="card-title m-b-0">과제 리스트</h4>
     </div>
     <ul class="list-style-none">
         <li class="card-body">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-check-circle w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">Themeforest</span> Approved My college <span class="font-bold">1 user</span>
                         <span>2 Hours Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-gift w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">My College is PSD Template</span> Theme
                         <span>2 Months Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-plus w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">Lorem ipsum doler set</span> adadas
                         <span>21 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-leaf w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">ITs my first admin</span> so very excited.
                         <span>20 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-user w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold"> I am alwayse here </span>you have any question
                         <span>12 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
     </ul>
 </div>


    <div class="card">
     <div class="card-body">
         <h4 class="card-title m-b-0">최근 게시물</h4>
     </div>
     <ul class="list-style-none">
         <li class="card-body">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-check-circle w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">Themeforest</span> Approved My college <span class="font-bold">1 user</span>
                         <span>2 Hours Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-gift w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">My College is PSD Template</span> Theme
                         <span>2 Months Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-plus w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">Lorem ipsum doler set</span> adadas
                         <span>21 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-leaf w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">ITs my first admin</span> so very excited.
                         <span>20 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-user w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold"> I am alwayse here </span>you have any question
                         <span>12 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
     </ul>
 </div>
</div>



<div class="right-box">
 <div class="card">
     <div class="card-body">
         <h4 class="card-title m-b-0">회의</h4>
     </div>
     <ul class="list-style-none">
         <li class="card-body">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-check-circle w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">Themeforest</span> Approved My college <span class="font-bold">1 user</span>
                         <span>2 Hours Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-gift w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">My College is PSD Template</span> Theme
                         <span>2 Months Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-plus w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">Lorem ipsum doler set</span> adadas
                         <span>21 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-leaf w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">ITs my first admin</span> so very excited.
                         <span>20 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-user w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold"> I am alwayse here </span>you have any question
                         <span>12 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
     </ul>
 </div>


    <div class="card">
     <div class="card-body">
         <h4 class="card-title m-b-0">Q&A</h4>
     </div>
     <ul class="list-style-none">
         <li class="card-body">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-check-circle w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">Themeforest</span> Approved My college <span class="font-bold">1 user</span>
                         <span>2 Hours Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-gift w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">My College is PSD Template</span> Theme
                         <span>2 Months Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-plus w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">Lorem ipsum doler set</span> adadas
                         <span>21 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-leaf w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold">ITs my first admin</span> so very excited.
                         <span>20 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
         <li class="card-body border-top">
             <a href="#" class="m-b-0 p-0">
                 <div class="d-flex no-block">
                     <i class="fa fa-user w-30px m-t-5"></i>
                     <div>
                         <span class="font-bold"> I am alwayse here </span>you have any question
                         <span>12 Days Ago</span>
                     </div>
                 </div>
             </a>
         </li>
     </ul>
 </div>
</div>

<footer class="footer text-center">All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a></footer>
{% endblock %}