{% extends "main/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">과제 리스트</h4>
                </div>
                <ul class="list-style-none">
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-gift w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">SQL 실습과제1(Select, Udpate)</a>
                        </div>
                    </li>
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-plus w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">운영체제 강의요약문</a>
                        </div>
                    </li>
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-leaf w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">알고리즘 과제 1번</a>
                        </div>
                    </li>
                </ul>
            </div>

              <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">최근 게시물</h4>
                </div>
                <ul class="list-style-none">
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-gift w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">My SQL 설치법</a>
                        </div>
                    </li>
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-plus w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">창의학기제 발표 공지사항</a>
                        </div>
                    </li>
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-leaf w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">운영체제 쪽지시험 일정</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
</footer>
{% endblock %}