{% extends "main/base.html" %}
{% block content %}
<div class="page-wrapper">
  <div class="page-breadcrumb">
      <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
              <div class="ml-auto text-right">
                  <nav aria-label="breadcrumb">
                  </nav>
              </div>
          </div>
      </div>
  </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">프로젝트 토론 게시판</h4>
                </div>
                <ul class="list-style-none">
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-gift w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">SQL 실습과제1(Select, Udpate)</a>
                        </div>
                    </li>
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-plus w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">운영체제 강의요약문</a>
                        </div>
                    </li>
                    <li class="d-flex no-block card-body border-top">
                        <i class="fa fa-leaf w-30px m-t-5"></i>
                        <div>
                            <a href="#" class="m-b-0 font-medium p-0">알고리즘 과제 1번</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
     </div>
<footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
</footer>
{% endblock %}