<!--팀 생성  템플릿-->
{% extends "main/base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
      <div class="col-md-6" style="margin:0 auto;">


      <div class="card">
          <div class="card-body">
              <h5 class="card-title">{{ user.username }}님에게 과목을 할당해주세요</h5>
          </div>
      </div>

          <div class="card">
              <div class="card-body">
                  <h3>할당하고자 하는 과목 번호를 입력하세요.</h3>
                   <form method="POST">
                    {% csrf_token %}

                       <input type="hidden"  name="user_num" maxlength="200" required id="id_title" class="form-control" value="{{ user.id }}">
                          <h4><p>과목 번호 목록</p></h4>
                          <p>운영체제 : 1</p>
                          <p>알고리즘 : 2</p>
                          <p>데이터베이스 : 3</p>
                          <p>컴퓨터구조론 : 4</p>
                          <p>서양고전강독 : 5</p>
                      <div class="form-group row">

                          <label for="id_project_title" class="col-sm-3 text-right control-label col-form-label">과목번호</label>
                          <div class="col-sm-9">
                              <input type="text" name="subject_num" maxlength="200" required id="id_project_title" class="form-control" placeholder="과목번호를 입력하세요.">
                          </div>
                      </div>

                       <button type="submit" class="btn btn-primary">할당</button>
                    </form>
              </div>
          </div>
      </div>
  </div>
</div>




{% endblock %}
