{% extends "main/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row" style="float:left">
        <div class="col-md-6">
            <div class="card" style="width:950px;float:left">
                <div class="card-body">
                    <h1 class="btn btn-primary">팀 게시판</h1>
                    <div class="comment-widgets scrollable">
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="comment-text w-100">
                                <div class="comment-footer">
                                    <p> <h7>팀 번호:</h7> {{ team.num }}</p>
                                    <p> <h7>팀명:</h7> {{ team.team_name }}</p>
                                    <p> <h7>프로젝트 이름:</h7> {{ team.project_name }}</p>
                                    <p> <h7>프로젝트 설명:</h7> {{ team.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                 <!-- # 코드 요소 검사를 통해 user list 라는 코드가 버그를 일으키고 있어 삭제하여 해결. -->
            <div id="firepad" style="height:900px;width:950px;clear:both"></div>
                <script>
                   function init() {
                     //// Initialize Firebase.
                     //// TODO: replace with your Firebase project configuration.
                     var config = {
                       apiKey: '<API_KEY>',
                       authDomain: "firepad-tests.firebaseapp.com",
                       databaseURL: "https://firepad-tests.firebaseio.com"
                     };

                     firebase.initializeApp(config);
                     //// Get Firebase Database reference.
                     var firepadRef = getExampleRef();
                     //// Create CodeMirror (with lineWrapping on).
                     var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });
                     // Create a random ID to use as our user ID (we must give this to firepad and FirepadUserList).
                     var userId = Math.floor(Math.random() * 9999999999).toString();
                     //// Create Firepad (with rich text features and our desired userId).
                     var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                         { richTextToolbar: true, richTextShortcuts: true, userId: userId});
                     //// Create FirepadUserList (with our desired userId).
                     var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
                         document.getElementById('userlist'), userId);
                     //// Initialize contents.
                     firepad.on('ready', function() {
                       if (firepad.isHistoryEmpty()) {
                         firepad.setText('Check out the user list to the left!');
                       }
                     });
                   }

                   // Helper to get hash from end of URL or generate a random one.
                   function getExampleRef() {
                     var ref = firebase.database().ref();
                     var hash = window.location.hash.replace(/#/g, '');
                     if (hash) {
                       ref = ref.child(hash);
                     } else {
                       ref = ref.push(); // generate unique location.
                       window.location = window.location + '#' + ref.key; // add it as a hash to the URL. ref.key가 주소값
                     }
                     if (typeof console !== 'undefined') {
                       console.log('Firebase data: ', ref.toString());
                     }
                     return ref;
                   }
                </script>
        </div>
    </div>

    <div style="float:left;margin-left:40px" id="chat"></div>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            var path = window.location.pathname.split("/");
            path.pop()
            $('#chat').append('<iframe src="http://127.0.0.1:8000/main/chat/' + path.pop() + '" width="600" height="1300" frameborder="0"></iframe>');
        </script>
</div>
<footer class="footer text-center" style="margin-top:500px;">
    Copyright &copy 2019. Developed by <a href="http://www.sejong.ac.kr">Sejong University</a>.
</footer>
{% endblock %}
