{% extends "main/base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin:0 auto;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">팀 게시판</h5>
                </div>

                <div class="comment-widgets scrollable">
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="comment-text w-100">
                        </div>
                    </div>
                </div>
            </div>
                         {% for group in group_list %}
                            <div class = "post">
                                <div class = "date">
                                <p>published: {{ group.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
