{% extends "main/base2.html" %}
{% block content %}

<div class="container-fluid">
    <div style="float:right;width:33%;margin-right:2%;height:calc(100vh - 260px);">
        <div style="text-align:center;color: #1B232F;font-family: Verdana, Arial, sans-serif;  font-size: 25px;  font-weight: bold;  text-decoration: none;width:100%;height:80px">종료까지 남은 시간<br><span id="countdown" ></span></div>
        <script>
            var stDate = new Date().getTime();
            var edDate = new Date('2019-05-08 22:56:00').getTime(); // 종료날짜
            var RemainDate = edDate - stDate;

            function msg_time() {
                var hours = Math.floor((RemainDate % (1000 * 60 * 60 * 24)) / (1000*60*60));
                var miniutes = Math.floor((RemainDate % (1000 * 60 * 60)) / (1000*60));
                var seconds = Math.floor((RemainDate % (1000 * 60)) / 1000);

                m = hours + ":" +  miniutes + ":" + seconds ; // 남은 시간 text형태로 변경

                document.getElementById('countdown').innerHTML = m;   // div 영역에 보여줌

                if (RemainDate < 0) {
                    // 시간이 종료 되었으면..
                    clearInterval(tid);   // 타이머 해제
                    document.getElementById('countdown').innerHTML = '시간이 종료되었습니다.';
                    if (RemainDate < 0 && RemainDate > -1000) {
                        location.href='http://localhost:8000/main/evaluate/';
                    //     var W = 500; // 띄울창의 가로사이즈
                    //     var H = 360; // 띄울창의 세로사이즈
                    //     var screenW = screen.availWidth;  // 스크린 가로사이즈
                    //     var screenH = screen.availHeight; // 스크린 세로사이즈
                    //     var posL=( screenW-W ) / 2;   // 띄울창의 가로 포지션
                    //     var posT=( screenH-H ) / 2;   // 띄울창의 세로 포지션
                    //
                    //     window.open('http://localhost:8000/main/evaluate/','team_evaluate','width='+ W +',height='+ H +',top='+ posT +',left='+ posL);
                    }
                }else{
                    RemainDate = RemainDate - 1000; // 남은시간 -1초
                }
            }

            tid=setInterval('msg_time()',1000);
        </script>
        <div class="card">
            <div class="card-body">
                <h1 class="btn btn-primary">팀 게시판</h1>
                <div class="comment-widgets scrollable" style="margin-bottom: 0px">
                    <div class="d-flex flex-row comment-row m-t-0" style="margin: 0px">
                        <div class="comment-text w-100">
                            <div class="comment-footer">
                                <p> <h7>팀 번호:</h7> {{ team.num }}</p>
                                <p> <h7>팀명:</h7> {{ team.team_name }}</p>
                                <p> <h7>프로젝트 이름:</h7> {{ team.project_name }}</p>
                                <p> <h7>프로젝트 설명:</h7> {{ team.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chat" style="width:100%;height:60%">
            <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
            <script>
                var path = window.location.pathname.split("/");
                // path.pop()
                $('#chat').append('<iframe src="http://127.0.0.1:8000/main/chat/' + path.pop() + '/" width=100% height=100% frameborder="0" scrolling="no">이 브라우저는 iframe을 지원하지 않습니다.</iframe>');
            </script>
        </div>
    </div>
    <!-- # 코드 요소 검사를 통해 user list 라는 코드가 버그를 일으키고 있어 삭제하여 해결. -->
    <div id="firepad" style="float:right;margin-right:35%;width:60%;margin-left:2%;height:90%"></div>
    <script>
        function init() {
            //// Initialize Firebase.
            //// TODO: replace with your Firebase project configuration.
            var config = {
                apiKey: '<API_KEY>',
                authDomain: "firepad-tests.firebaseapp.com",
                databaseURL: "https://firepad-tests.firebaseio.com"
            };

            firebase.initializeApp(config);
            //// Get Firebase Database reference.
            var firepadRef = getExampleRef();
            //// Create CodeMirror (with lineWrapping on).
            var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });
            // Create a random ID to use as our user ID (we must give this to firepad and FirepadUserList).
            var userId = Math.floor(Math.random() * 9999999999).toString();
            //// Create Firepad (with rich text features and our desired userId).
            var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
                { richTextToolbar: true, richTextShortcuts: true, userId: userId});
            //// Create FirepadUserList (with our desired userId).
            var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
                document.getElementById('userlist'), userId);
            //// Initialize contents.
            firepad.on('ready', function() {
                if (firepad.isHistoryEmpty()) {
                    firepad.setText('Check out the user list to the left!');
                }
            });
        }

        // Helper to get hash from end of URL or generate a random one.
        function getExampleRef() {
            var ref = firebase.database().ref();
            // var hash = window.location.hash.replace(/#/g, '');
            var path = window.location.pathname.split("/");
            var hash = path.pop();
            if (hash) {
                ref = ref.child(hash);
                //ref.key가 해쉬값임. 생성 된 이후에 들어갈 때는 여기로 들어옴.
            } else {
                ref = ref.push(); // generate unique location.
                window.location = window.location + '#' + ref.key; // add it as a hash to the URL. ref.key가 주소값
                //ref.key가 해쉬값임. 처음 생성되면 이리로 들어옴.
            }
            if (typeof console !== 'undefined') {
                console.log('Firebase data: ', ref.toString());
            }
            return ref;
        }
    </script>
</div>
<footer class="footer text-center" style="float:bottom">
    Copyright &copy 2019. Developed by <a href="http://www.sejong.ac.kr">Sejong University</a>.
</footer>
{% endblock %}
