{% extends "main/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">테스트</h4>
                      <h3> {{ id }}번 유저님  {{ team_num }}번 팀에 가입되셨습니다.</h3>
                </div>
           </div>
        </div>
    </div>
</div>
<footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
</footer>
{% endblock %}