{% extends "main/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
             <div class="card">
                <div class="card-body">
                    <h1 class="card-title">마이페이지 입니다.</h1>
                </div>
                <div class="comment-widgets scrollable">
                    <h2 class="font-medium">현재수강 중인 과목</h2>
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="comment-text w-100">
                          <a href = "{% url 'team_list' %}"><h3 class="font-medium">데이터베이스</h3></a>
                        980=-79=87=0     <h3 class="font-medium">알고리즘</h3>
                            <h3 class="font-medium">자료구조</h3>
                            <h3 class="font-medium">컴퓨터네트워크</h3>
                        </div>
                    </div>
                     {% if user.is_authenticated %}
                    <h4>반갑습니다</h4>{{ user.username }} <h4>님</h4>
                    <p >현재 가입한 팀 : {{ user.user_extends.team_num_id}}</p> <!-- team_num 조회시 DB에 있는 이름인 team_num_id로 조회해야함.-->
                    <p><a href = "{% url 'logout' %}" class = "btn btn-info">Logout</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
</footer>
{% endblock %}